// {{ ansible_managed }}

// Listen port
port = "{{ gotty_port }}"

// [bool] Permit clients to write to the TTY
permit_write = {{ gotty_write }}

// [bool] Enable basic authentication
enable_basic_auth = {{ gotty_basic_auth }}

// [string] Default username and password of basic authentication (user:pass)
//          To enable basic authentication, set `true` to `enable_basic_auth`
credential = "{{ gotty_basic_creds }}"
